@import url('base.css');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Lobster');

h2{
    font-family: Lobster, Verdana, Tahoma, sans-serif;
    font-size: 2.827rem;
    padding:1rem 2rem;
}
p{
    font-family: Arvo, Georgia, 'Avant Garde', serif;
    font-size: 1.414rem;
    padding:0.5rem 2rem;
}
